{% include header.html %}
<div class="container-fluid">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>latest version by selector type</th>
      </tr>
    </thead>
    <tbody id="inbox">
    {% for selector in sorted(set([s.split('%')[0] + "~-1" for s in selectors])) %}
    <tr class="selector">
      <td><a href="/get{{ url_escape(selector) }}">{{ escape(selector) }}</a></td>
    </tr>
    {% end %}
    </tbody>
  </table>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>selector</th>
      </tr>
    </thead>
    <tbody id="inbox">
    {% for selector in selectors %}
    <tr class="selector">
      <td><a href="/get{{ url_escape(selector) }}">{{ escape(selector) }}</a></td>
    </tr>
    {% end %}
    </tbody>
  </table>
</div>
{% include footer.html %}
