<tr class="descriptor" id="m{{ escape(descriptor['hash']) }}">
  <td title="agent {{escape(descriptor['agent'])}}">{{ escape(descriptor['agent']) }}</td>
  <td><a href="/analysis/{{ escape(descriptor['domain'] ) }}/{{ escape(descriptor['uuid'] ) }}">{{ escape(descriptor['label']) }}</a></td>
  <td>{{ escape(descriptor['domain']) }}</td>
  <td>{{ escape(descriptor['processing_time']) }}</td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?domain={{descriptor['domain']}}">{{ escape(descriptor['selector']) }}</a></td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?download=1&domain={{descriptor['domain']}}"><span class="glyphicon glyphicon-download-alt" /></a> {{ escape(descriptor['printablevalue']) }}</td>
</tr>
