<tr id="link_{{ escape(descriptor['hash']) }}_{{ escape(descriptor['linksrchash']) }}">
  <td class="container-key" data-domain="{{url_escape(descriptor['domain'])}}" data-selector="{{url_escape(descriptor['fullselector'])}}">
    <a href="/analysis/{{ escape(descriptor['domain'] ) }}/{{ escape(descriptor['value']['otherUUID'] ) }}">{{ escape(descriptor['value']['otherlabel'] ) }}</a> <a href='javascript://'><span class="glyphicon glyphicon-cog"></span></a></td>
  <td>{{ escape(descriptor['value']['reason']) }}</td>
</tr>
