<tr class="descriptor" id="m{{ escape(descriptor['hash']) }}">
  <td title="agent {{escape(descriptor['agent'])}}">{{ escape(descriptor['agent']) }}</td>
  <td><a href="/analysis/{{ escape(descriptor['domain']) }}/{{ escape(descriptor['value']['otherUUID']) }}">{{ escape(descriptor['label']) }}</a></td>
  <td>{{ escape(descriptor['domain']) }}</td>
  <td>{{ escape(descriptor['processing_time']) }}</td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?domain={{url_escape(descriptor['domain'])}}">{{ escape(descriptor['selector']) }}</a></td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?download=1&domain={{url_escape(descriptor['domain'])}}"><span class="glyphicon glyphicon-download-alt"></span></a> link to <a href="/analysis/{{ escape(descriptor['domain']) }}/{{ escape(descriptor['value']['otherUUID']) }}">{{ escape(descriptor['value']['otherlabel']) }}</a> for reason <b>{{ escape(descriptor['value']['reason']) }}</b></td>
</tr>
