{% include ../header.html %}
<link property="stylesheet" rel="stylesheet" href="{{ static_url("matrix-colors.css") }}" type="text/css"/>
<div class="container-fluid">
  <table class="table-nonfluid table table-condensed table-header-rotated">
    <thead>
      <tr>
        <th></th>
        {% for uuid, label, _ in matrix %}
        <th class="rotate-45"><div><span><a href="/analysis/default/{{ escape(uuid) }}">{{ escape(label) }}</a></span></div></th>
        {% end %}
      </tr>
    </thead>
    <tbody>
      {% for uuid, label, values in matrix %}
      <tr>
        <th class="row-header"><a href="/analysis/default/{{ escape(uuid) }}">{{ escape(label) }}</a></th>
        {% for value in values %}
        <td data-value="{{ escape(str(value)) }}">{{ escape(str(value)) }}</td>
        {% end %}
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% include ../footer.html %}
