<tr class="descriptor" id="m{{ descriptor['hash'] }}">
  <td title="agent {{descriptor['agent']}}">{{ descriptor['agent'] }}</td>
  <td><a href="/analysis/{{ descriptor['domain'] }}/{{ descriptor['uuid'] }}">{{ descriptor['label'] }}</a></td>
  <td>{{ descriptor['domain'] }}</td>
  <td>{{ descriptor['processing_time'] }}</td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?domain={{url_escape(descriptor['domain'])}}">{{ descriptor['selector'] }}</a></td>
  <td><a href="/get{{ descriptor['fullselector'].replace('%', '%25') }}?download=1&domain={{url_escape(descriptor['domain'])}}"><span class="glyphicon glyphicon-download-alt" /></a> {{ " ".join(descriptor['selector'].split("/")[2:]) }} matrix version v{{ str(descriptor['version']) }}</td>
</tr>
