{% include ../header.html %}
<div class="container-fluid">
  <table class="table-nonfluid table table-striped table-condensed table-header-rotated">
    <thead>
      <tr>
        <th></th>
        {% for uuidlabel in matrix.keys() %}
        <th class="rotate-45"><div><span><a href="/analysis/default/{{ escape(uuidlabel[0]) }}">{{ escape(uuidlabel[1]) }}</a></span></div></th>
        {% end %}
      </tr>
    </thead>
    <tbody>
      {% for uuidlabel, values in matrix.items() %}
      <tr>
        <th class="row-header"><a href="/analysis/default/{{ escape(uuidlabel[0]) }}">{{ escape(uuidlabel[1]) }}</a></th>
        {% for value in values %}
        <td{% if value[1] is not None %} class="{{ escape(str(value[1])) }}"{% end %}>{{ escape(str(value[0])) }}</td>
        {% end %}
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% include ../footer.html %}
